/*@import url("../../bower_components/bootstrap/dist/css/bootstrap.css");*/
@import url("../lib/bootstrap/css/bootstrap.css");

#pages {
	position: relative;
}

#loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background-color: white;
	z-index: 9999;
}